<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>books example</title>
</head>
<body>
	<ul>
		<li><a href="all_books/">All books</a> - generic view plist_array</li>
		<li><a href="single_book/1/">Single book</a> - generic view plist_dict</li>
		<li><a href="all_authors/">All authors</a> - view with shortcut function</li>
		<li><a href="single_author/1/">Single author</a> - view with shortcut function</li>
	</ul>
</body>
</html>